:root{
  --mainBlue : #2a2a72;
  --mainWhite : #f3f3f3;
  --mainDark : #252328;
  --mainYellow : #ffa400;
  --lightBlue : #009ffd;
}
body{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}
.text-title{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}
.btn-black{
  background: transparent;
  text-transform: capitalize;
  font-size: 0.8 rem !important;
  color : black;
  border-radius:2 !important;
  border: 0.1 rem solid !important;
  
}
.btn-dark:hover{
  background: blanchedalmond !important;
  color: black !important;
}